
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
*{
  margin: 0px;
  padding: 0px;
  color:white;
  font-family: 'Roboto Condensed', monospace;
}
body{
  background-color: rgb(24, 22, 22);;
}